In [120]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sb

In [121]:
hr=pd.read_csv("HR_Data.csv")
hr.shape

(14999, 10)

In [122]:
hr.head()
hr.columns

Index(['satisfaction_level', 'last_evaluation', 'number_project',
       'average_montly_hours', 'time_spend_company', 'Work_accident', 'left',
       'promotion_last_5years', 'Sales_Occured', 'salary'],
      dtype='object')

In [123]:
print(hr.shape)
hr.isnull().sum()
hr.head()

(14999, 10)

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,Sales_Occured,salary
0,0.38,0.53,2,157,3,0,1,0,sales,low
1,0.80,0.86,5,262,6,0,1,0,sales,medium
2,0.11,0.88,7,272,4,0,1,0,sales,medium
3,0.72,0.87,5,223,5,0,1,0,sales,low
4,0.37,0.52,2,159,3,0,1,0,sales,low

In [ ]:
#Label Encoder
from sklearn.preprocessing import LabelEncoder
le_Sales=LabelEncoder()
le_Salary=LabelEncoder()
hr["Sales_Occured_n"]=le_Sales.fit_transform(hr["Sales_Occured"])
hr["salary_n"]=le_Salary.fit_transform(hr["salary"])

In [127]:
#One Hot Encoding
hr.head()

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,Sales_Occured,salary
0,0.38,0.53,2,157,3,0,1,0,sales,low
1,0.80,0.86,5,262,6,0,1,0,sales,medium
2,0.11,0.88,7,272,4,0,1,0,sales,medium
3,0.72,0.87,5,223,5,0,1,0,sales,low
4,0.37,0.52,2,159,3,0,1,0,sales,low

In [136]:
x1=pd.get_dummies(hr["number_project"],drop_first=True)
x2=pd.get_dummies(hr["time_spend_company"],drop_first=True)
x3=pd.get_dummies(hr["Work_accident"],drop_first=True)
x4=pd.get_dummies(hr["promotion_last_5years"],drop_first=True)
x5=pd.get_dummies(hr["Sales_Occured"],drop_first=True)
x6=pd.get_dummies(hr["salary"],drop_first=True)
hr=pd.concat([hr,x1,x2,x3,x4,x5,x6],axis=1)

In [139]:
hr.drop(["number_project","time_spend_company","Work_accident","promotion_last_5years","Sales_Occured","salary"],axis=1,inplace=True)

In [108]:
hr.head()
#hr["Sales_Occured"].value_counts()
#hr["Sales_Occured_n"].value_counts()
#hr["salary"].value_counts()
hr["salary_n"].value_counts()

1    7316
2    6446
0    1237
Name: salary_n, dtype: int64

In [109]:
#Removing Categorical Variables from the original Variables
hr.drop(["Sales_Occured","salary"],axis=1,inplace=True)

In [150]:
#Normalizing the data
from sklearn.preprocessing import MinMaxScaler
scaling=MinMaxScaler()
hr.head()

,satisfaction_level,last_evaluation,average_montly_hours,left,3,4,5,6,7,3,...,accounting,hr,management,marketing,product_mng,sales,support,technical,low,medium
0,0.38,0.53,157,1,0,0,0,0,0,1,...,0,0,0,0,0,1,0,0,1,0
1,0.80,0.86,262,1,0,0,1,0,0,0,...,0,0,0,0,0,1,0,0,0,1
2,0.11,0.88,272,1,0,0,0,0,1,0,...,0,0,0,0,0,1,0,0,0,1
3,0.72,0.87,223,1,0,0,1,0,0,0,...,0,0,0,0,0,1,0,0,1,0
4,0.37,0.52,159,1,0,0,0,0,0,1,...,0,0,0,0,0,1,0,0,1,0

In [151]:
hr["satis"]=scaling.fit_transform(hr[["satisfaction_level"]])
hr["last_eval"]=scaling.fit_transform(hr[["last_evaluation"]])
hr["monthly_sal"]=scaling.fit_transform(hr[["average_montly_hours"]])
hr.drop(["satisfaction_level","last_evaluation","average_montly_hours"],axis=1,inplace=True)

In [152]:
x=hr.drop(["left"],axis=1)
y=hr["left"]

In [153]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.3)

In [154]:
x_train

,3,4,5,6,7,3,4,5,6,7,...,marketing,product_mng,sales,support,technical,low,medium,satis,last_eval,monthly_sal
12249,0,0,0,1,0,0,1,0,0,0,...,0,0,1,0,0,1,0,0.021978,0.750000,0.943925
6952,0,1,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0.967033,0.343750,0.425234
13348,0,1,0,0,0,1,0,0,0,0,...,0,0,0,0,1,0,0,0.593407,0.328125,0.448598
7386,0,0,1,0,0,0,1,0,0,0,...,0,0,0,0,1,0,0,0.659341,0.359375,0.401869
2588,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,1,0,0.472527,0.750000,0.607477
14528,0,0,0,0,0,1,0,0,0,0,...,0,0,1,0,0,1,0,0.307692,0.156250,0.266355
6325,0,1,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,1,0.824176,0.296875,0.247664
3227,1,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,1,0.516484,0.328125,0.219626
14733,0,0,0,0,1,0,1,0,0,0,...,0,0,0,0,0,1,0,0.010989,0.921875,0.901869
12238,0,0,0,0,0,1,0,0,0,0,...,1,0,0,0,0,1,0,0.373626,0.265625,0.233645
1089,0,0,0,0,0,1,0,0,0,0,...,0,0,1,0,0,0,1,0.296703,0.265625,0.172897
329,0,0,0,0,0,1,0,0,0,0,...,0,0,1,0,0,1,0,0.384615,0.187500,0.242991
953,0,1,0,0,0,0,0,1,0,0,...,0,0,0,0,1,1,0,0.351648,0.546875,0.957944
1868,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,1,0,1,0.384615,0.312500,0.172897
6363,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0.989011,0.640625,0.588785
14161,0,1,0,0,0,1,0,0,0,0,...,0,0,1,0,0,1,0,0.439560,0.812500,0.691589
8526,1,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,1,0,0.879121,0.343750,0.822430
7557,1,0,0,0,0,1,0,0,0,0,...,0,0,1,0,0,1,0,0.945055,0.406250,0.303738
8736,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,1,0.593407,0.765625,0.280374
2811,0,0,1,0,0,1,0,0,0,0,...,0,0,0,0,0,1,0,0.857143,0.859375,0.803738
9782,1,0,0,0,0,1,0,0,0,0,...,0,0,1,0,0,0,1,0.461538,0.671875,0.191589
11867,1,0,0,0,0,1,0,0,0,0,...,0,0,0,1,0,0,1,0.516484,0.359375,0.593458
4455,0,0,0,1,0,0,0,1,0,0,...,0,0,1,0,0,1,0,0.648352,1.000000,0.757009
11060,0,1,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,1,0.670330,0.625000,0.359813
13555,0,1,0,0,0,0,0,0,0,0,...,0,1,0,0,0,1,0,0.461538,0.765625,0.420561
3941,0,1,0,0,0,1,0,0,0,0,...,0,0,0,1,0,1,0,0.890110,0.375000,0.728972
5773,0,0,0,1,0,0,0,1,0,0,...,0,0,0,1,0,1,0,0.395604,0.406250,0.154206
11761,0,1,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,1,0.868132,0.734375,0.827103
8016,0,0,1,0,0,0,0,0,0,0,...,0,0,0,1,0,1,0,0.780220,0.437500,0.504673
5955,1,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,1,0,0.670330,0.968750,0.556075
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1582,0,0,0,1,0,0,0,1,0,0,...,0,0,0,1,0,0,1,0.021978,0.687500,0.761682
6479,0,1,0,0,0,0,1,0,0,0,...,0,1,0,0,0,0,1,0.714286,0.609375,0.070093
12831,0,0,1,0,0,0,1,0,0,0,...,0,0,1,0,0,0,1,0.329670,0.015625,0.280374
6052,1,0,0,0,0,0,1,0,0,0,...,0,0,1,0,0,0,1,0.835165,0.515625,0.457944
14885,0,0,0,0,0,1,0,0,0,0,...,0,0,1,0,0,1,0,0.395604,0.265625,0.294393
10900,0,0,1,0,0,0,0,1,0,0,...,0,0,0,0,0,0,1,1.000000,0.671875,0.350467
14889,0,0,0,0,0,1,0,0,0,0,...,0,0,1,0,0,1,0,0.296703,0.234375,0.158879
3969,1,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0.527473,0.312500,0.598131
1903,0,1,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,1,0.835165,0.796875,0.827103
11665,0,1,0,0,0,1,0,0,0,0,...,1,0,0,0,0,0,0,0.956044,0.765625,0.359813
1145,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,1,0,0.307692,0.203125,0.266355
1942,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,1,0.340659,0.171875,0.224299
7511,1,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,1,0,0.824176,0.890625,0.682243
2602,0,1,0,0,0,1,0,0,0,0,...,1,0,0,0,0,0,1,0.923077,0.953125,0.612150
2412,0,1,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0.637363,0.218750,0.359813
13668,0,1,0,0,0,0,0,1,0,0,...,0,0,0,0,0,1,0,0.340659,0.406250,0.144860
13342,0,0,0,1,0,0,0,0,1,0,...,0,0,0,0,0,0,1,0.109890,0.953125,0.808411
1398,0,0,0,0,0,1,0,0,0,0,...,0,0,1,0,0,0,0,0.329670,0.296875,0.280374
1093,0,0,1,0,0,0,0,1,0,0,...,0,0,1,0,0,1,0,0.879121,0.859375,0.766355
12025,0,0,1,0,0,0,0,1,0,0,...,0,0,1,0,0,1,0,0.879121,0.875000,0.682243
3125,0,1,0,0,0,1,0,0,0,0,...,0,0,0,0,0,1,0,0.824176,0.671875,0.588785
2493,0,1,0,0,0,0,0,0,1,0,...,0,0,0,1,0,0,1,0.340659,0.984375,0.551402
4678,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,1,0,0.439560,0.640625,0.738318
5802,0,1,0,0,0,0,0,0,0,0,...,1,0,0,0,0,1,0,0.879121,0.890625,0.210280
10170,1,0,0,0,0,1,0,0,0,0,...,0,0,1,0,0,0,0,0.780220,0.375000,0.542056
3332,0,1,0,0,0,1,0,0,0,0,...,0,0,0,1,0,1,0,0.692308,0.500000,0.663551
14249,0,0,0,1,0,0,1,0,0,0,...,0,0,0,0,1,1,0,0.021978,0.828125,0.981308
6891,0,0,1,0,0,1,0,0,0,0,...,0,0,1,0,0,0,1,0.439560,0.343750,0.700935
13369,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,1,0.659341,0.296875,0.355140
4382,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,1,0,0.527473,0.437500,0.514019

In [155]:
from sklearn.linear_model import LogisticRegression
logmodel=LogisticRegression()

In [156]:
logmodel.fit(x_train,y_train)

C:\Users\admin\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=None, solver='warn', tol=0.0001, verbose=0,
                   warm_start=False)

In [160]:
predictions=logmodel.predict(x_test)

In [167]:
#Decision Tree
from sklearn.tree import DecisionTreeClassifier

In [168]:
dtree=DecisionTreeClassifier()

In [170]:
dtree.fit(x_train,y_train)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
                       max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort=False,
                       random_state=None, splitter='best')

In [174]:
predictions=dtree.predict(x_test)

In [176]:
#Random Forest
from sklearn.ensemble import RandomForestClassifier

In [177]:
rfc=RandomForestClassifier(n_estimators=250)

In [178]:
rfc.fit(x_train,y_train)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
                       max_depth=None, max_features='auto', max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=250,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [181]:
predictions=rfc.predict(x_test)

In [182]:
#Importing Confusion matrix and classification report
from sklearn.metrics import classification_report,confusion_matrix
confusion_matrix(y_test,predictions)

array([[3422,    5],
       [  34, 1039]], dtype=int64)

In [183]:
#Checking the Accuracy
from sklearn.metrics import accuracy_score
accuracy_score(y_test,predictions)

0.9913333333333333

In [64]:
#Creating Outlier Detection function
def detect_outlier(data):
    outlier=[]
    threshold=3
    mean=np.mean(data)
    std=np.std(data)
    for i in data:
        z_score=(i-mean)/std
        if np.abs(z_score)>threshold:
            outlier.append(i)
    return outlier

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,Sales_Occured,salary,...,accounting,hr,management,marketing,product_mng,sales,support,technical,low,medium
0,0.38,0.53,2,157,3,0,1,0,sales,low,...,0,0,0,0,0,1,0,0,1,0
1,0.80,0.86,5,262,6,0,1,0,sales,medium,...,0,0,0,0,0,1,0,0,0,1
2,0.11,0.88,7,272,4,0,1,0,sales,medium,...,0,0,0,0,0,1,0,0,0,1
3,0.72,0.87,5,223,5,0,1,0,sales,low,...,0,0,0,0,0,1,0,0,1,0
4,0.37,0.52,2,159,3,0,1,0,sales,low,...,0,0,0,0,0,1,0,0,1,0

(14999, 21)

Index(['satisfaction_level', 'last_evaluation', 'number_project',
       'average_montly_hours', 'time_spend_company', 'Work_accident', 'left',
       'promotion_last_5years', 'Sales_Occured', 'salary', 'RandD',
       'accounting', 'hr', 'management', 'marketing', 'product_mng', 'sales',
       'support', 'technical', 'low', 'medium'],
      dtype='object')

Index(['satisfaction_level', 'last_evaluation', 'number_project',
       'average_montly_hours', 'time_spend_company', 'Work_accident', 'left',
       'promotion_last_5years', 'RandD', 'accounting', 'hr', 'management',
       'marketing', 'product_mng', 'sales', 'support', 'technical', 'low',
       'medium'],
      dtype='object')

10330    0
8901     0
9897     0
2129     0
11984    0
5185     0
9956     0
7016     0
1296     1
6401     0
10239    0
11342    0
9431     0
6764     0
13711    0
12923    0
13421    0
2107     0
4168     0
8232     0
5263     0
13589    0
1847     1
7217     0
6387     0
12321    1
14463    1
7649     0
7534     0
12105    1
        ..
9036     0
11671    0
12867    0
1622     1
3601     0
12435    1
10786    0
9464     0
10357    0
11155    0
11897    0
5663     0
4362     0
460      1
7675     0
3065     0
14462    1
12082    1
5773     0
13007    0
13645    0
5370     0
1018     1
8544     0
6791     0
8653     0
7558     0
3447     0
2827     0
4026     0
Name: left, Length: 4500, dtype: int64

C:\Users\admin\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=None, solver='warn', tol=0.0001, verbose=0,
                   warm_start=False)

array([[3186,  236],
       [ 655,  423]], dtype=int64)

0.802